@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color: #58b368;
    --secondary-color: #8aca95;
    --dark-color: #23482a;
    --light-color: #eef7f0;
    --white-color: #ffffff;
}
html{
    overflow-x: hidden;
}
.nav-btn {
    @apply hover:bg-[--secondary-color] flex items-center gap-2 p-2  rounded-md; /* Apply Tailwind's btn and btn-primary utility classes */
}